/spring-data-elasticsearch-querybuilder/.idea/
/spring-data-elasticsearch-crud/.idea
/spring-data-elasticsearch-querybuilder/spring-data-elasticsearch-querybuilder.iml
/spring-data-elasticsearch-crud/spring-data-elasticsearch-crud.iml